.trademark-notice {
    text-align: center;
    font-size: 11px;
    max-width: $screenTablet;
    padding: 10px 20px;
    position: absolute;
    bottom: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
}

footer {
	position: absolute;
    bottom: 0;
    height: 60px;
    left: 0;
    right: 0;
    text-align: center;
    background: $bgFooter;
    border-top: $footerBorderTop;
    white-space: nowrap;
    box-shadow: 0 -2px 20px -11px $footerBoxShadow, 0px -10px 40px -10px #0072bd;
    overflow-x: hidden;

    span {
        font-size: 10px;
        color: #ccc;
        line-height: 60px;
    }

    img,
    .powered {
        margin: 7px 10px 0;
        @include transition(all 300ms ease);
    }

    img {
        float: right;
    	backface-visibility: hidden;
    	display: inline-block;
        width: 150px;
    	@include transform(scale(0.9));

    	&:hover {
    		@include transform(scale(1));
    	}
    }

    .container {
        padding: 0px;
        margin: 0 auto;
        max-width: $screenFullWidth;
    }

    .powered {
        width: 137px;
        position: relative;
        text-decoration: none;
        height: 40px;
        display: inline-block;
        background: url('assets/img/angular.svg') no-repeat center center;
        background-size: contain;
        float: left;

        &:hover {
            @include transform(scale(1.1));
        }
    }

    @include respond-to($screenTablet) {
        img {
            width: 120px;
            @include transform(scale(0.7));
            &:hover {
                @include transform(scale(0.9));
            }
        }

        .powered {
            width: 120px;
            height: 30px;
        }

        img,
        .powered {
            margin: 10px 10px 0;
        }
    }
}
