// COLORS
$bad: #bada55;
$primary: #4cb8ff;

$blue: #4cb8ff;

$bgNav: #222;

$grey: #ccc;
$greyDark: #555;
$greyDarkest: #333;

$white: #fff;

$youtubeRed: #a51111;

// FONTS
$fontPrimary: Helvetica, Arial, sans-serif;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;

// SCREEN SIZES
$screenMobile: 320px;
$screenTablet: 768px;
$screenDesktop: 1024px;
$screenJumbo: 1440px;
$screenFullPage: 1280px;
$screenFullWidth: $screenFullPage;

// LAYOUT
$headerHeight: 60px;
$gutterSize: 20px;

// FOOTER
$bgFooter: #efefef;
$footerBorderTop: 1px solid #4cb8ff;
$footerBoxShadow: lime;
