@import "../assets/scss/settings";
@import "../assets/scss/mixins";


:host {
  border: 2px solid rgba(lighten(purple, 20%), 0.2);
  display: inline-block;

  &.hero-portrait {

    $ratio: 1.456;
    width: 96px;
    height: (96px * $ratio);

    @include respond-from($screenTablet) {
      width: 140px;
      height: (140px * $ratio);
    }
  }

  &.map-portrait {
    width: 100%;
    overflow: hidden;
    padding-top: 89%;
    position: relative;
    background: rgba(#000, 0.5);

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%!important;
    }
  }
}
