<div class="container" *ngIf="!heroes">
  <loading></loading>
</div>

<div class="container search-container" *ngIf="heroes && heroes != false">
  <input type="text" [(ngModel)]="search" [placeholder]="search_placeholder" />
  <i class="icon-backspace" *ngIf="search && search !== ''" (click)="search=''"></i>

  <div class="classSelector">
    <div
      *ngFor="let role of roles"
      class="hero-role tiny {{role | strtolower}}"
      (click)="searchByRole(role)"
      [ngClass]="{'active': activeClassSelection==role}">
      <div class="title">{{role | ucfirst}}</div>
    </div>

  </div>
</div>

<div class="container hero-container" *ngIf="heroes && heroes != false">
  <div
    *ngFor="let hero of heroes | keys"
    [ngClass]="{'hero': (!search && !activeClassSelection) || find(hero.value)}">
    <lazy
      [img]="hero.value.images.bust"
      [width]="image_width"
      [height]="image_height"
      *ngIf="hero.value.images.bust"
      class="hero-portrait"
    ></lazy>
    <div class="content">
      <div class="name">{{hero.value.name}}</div>
      <div class="title">{{hero.value.title}}</div>
      <div class="role" [title]="hero.value.role.description">
        <div class="hero-role tiny {{hero.value.role.slug}}"></div>
        <div class="role-title">{{hero.value.role.name}}</div>
      </div>
    </div>
  </div>
</div>
